  <footer class="footer">
    <div class="wrapper">
      <div class="footer__col footer__col-1">
        <i class="footer__logo"></i>
        <span class="footer__copy">© HackDay Kazakhstan, 2015 </span>
      </div>
      <div class="footer__col footer__col-2">
        <div class="footer__phones">
          <mark>Контакты</mark>
          <p>(727) 244 51 25,</p> 
          <p>(727) 330 85 62</p>
        </div>
      </div>
      <div class="footer__col footer__col-3">
        <div class="footer__social">
          <a target="_blank" href="http://hackday.ru/almaty2015">hackday2015.kz</a>
          <div class="social">
            <a target="_blank" href="https://www.facebook.com/hackdaykz" class="social__fb"></a>
            <a target="_blank" href="https://vk.com/hackdayalmaty" class="social__vk"></a>
            <!-- <a href="" class="social__ig"></a> -->
          </div>
        </div>
      </div>
      <div class="footer__man">
        <span><span>Регистрация <br> на HackDay</span></span>
      </div>
    </div>
  </footer><!-- /.footer -->



  <!-- Vendor JS -->
  <script src="js/vendor.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="js/all.js"></script>


</body>

</html>
