<!DOCTYPE html>
<!-- saved from url=(0014)about:internet -->

<html lang="en-EN">

<head>
  <meta charset="UTF-8">

  <!--
    TODO
    no scale no resize no zoom for mob devices
    if adaptive - enable, else - remove
  -->
  <!-- <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"> -->
  <!-- IE no comp mode -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta http-equiv="msthemecompatible" content="no">
  <!-- Force cleartype -->
  <meta http-equiv="cleartype" content="on">

  <!-- No phone num detection -->
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">

  <!-- Meta -->
  <title>2-3 мая HackDay 2015 в Алматы </title>
  <meta name="description" content="крупнейший в СНГ ежегодный Фестиваль идей, где молодые специалисты в креативной и неформальной среде превращают свои идеи в работающие стартапы, приглашает тебя!">

  <meta property="og:title" content="2-3 мая HackDay 2015 в Алматы" />
  <meta property="og:description" content="крупнейший в СНГ ежегодный Фестиваль идей, где молодые специалисты в креативной и неформальной среде превращают свои идеи в работающие стартапы, приглашает тебя!" />
  <meta property="og:image" content="img/social.jpg" />

  <!-- App CSS -->
  <link rel="stylesheet" type="text/css" media="all" href="css/main.css">

  <script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43077912-9', 'auto');
    ga('send', 'pageview');

  </script>

</head>

<body>

  <div style="position:absolute; left: -99999px;">
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 958883264;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/958883264/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>

    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter29863544 = new Ya.Metrika({id:29863544,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/29863544" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

  </div>
  

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

