<form id="popup_pwd" class="white-popup-block mfp-hide">
	<div class="title">Восстановление пароля</div>

	<fieldset style="border:0;">
		<ol>
			<li>	
				<input id="email" name="email" type="text"  placeholder="E-mail" autofocus="">
				<span id="email_err" class="throw_error"></span>
			</li>
			<li>
				<input id="submit" type="submit" value="Восстановить пароль" />
				<div id="error_msg"></div>
			</li>
			<li>На зарегистрированный E-mail прийдет ваш пароль.</li>
		</ol>
	</fieldset>

	<div id="success"><b>Спасибо!</b><br /> На ваш E-mail отправлено письмо с паролем!</div>
</form>