<form id="popup_reg" class="white-popup-block mfp-hide">
	<div class="title">Секция: <mark></mark></div>

	<fieldset style="border:0;">
		<p>Регистрация на HackDay<br /> является обязательной для всех участников.</p>
		<ol>
			<li>	
				<input id="email" name="email" type="text"  placeholder="E-mail" autofocus="">
				<span id="email_err" class="throw_error"></span>
			</li>
			<li>
				<input id="submit" type="submit" value="Зарегистрировать проект" />
				<div id="error_msg"></div>
			</li>
			<li>После регистрации на указанный E-mail прийдет пароль для регистрации.</li>
		</ol>
	</fieldset>

	<div id="success"><b>Спасибо!</b><br /> На ваш E-mail отправлено письмо с паролем для дальнейшей регистрации проекта.!</div>
</form>